.button {
    font-size: 16px;  
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    max-height: fit-content;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar a {
    float: left;
    font-size: 16px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 20px;
    min-width: 200px;
}

.navbar a:hover {
    background-color: red;
}