.div {
    display: block;
    text-align: center;
}

.image {
    width: 38%;
}

.text {
    font-size: 1.7em;
    color: black;
    
}  

.title {
    font-size: 4em;
    text-align: center;
    margin-top: 1;
    color: rgba(232, 139, 45, 0.87);
  }


